@use '../abstracts/constants' as *;
@use '../abstracts/placeholders' as *;

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 0 10px;
  }

  &__link {
    @extend %transition-color;
    color: $color-heading;
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }
  }
}
