.promo {
  padding: 30px 0;
}

.promo__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo__content {
  padding-right: 65px;
}

.promo__buttons {
  display: flex;
  align-items: center;
}
