@use '../abstracts' as *;

.footer {
  padding: 60px 0 70px;
}

.footer__wrapper {
  display: flex;
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  @extend %font-additional;
  padding: 0;
  list-style: none;

  a {
    @extend %transition-color;
    @include font(1rem, line-height(26px, 16px), 400, $color-text);
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }
  }
}
